body {
  font-family: "Times New Roman", "Times", "Palatino", "Palatino Linotype", serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
