<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title>Wikipedia Text Extractor</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/static/index.css">
</head>

<body>
  <h1>Welcome to WikiText</h1>

  <p>Paste a link to a Wikipedia article below.</p>
  <p>You can extract all the text (and math formulas) from any article and <br>turn the text into a plain text,
    markdown, or formatted PDF file</p>
  <p></p>
  <label for="url">Article URL:</label>
  <input type="text" id="url" placeholder="https://en.wikipedia.org/wiki/...">
  <p></p>
  <label for="format">Format: </label>
  <select id="format">
    <option value="text">Text Only</option>
    <option value="markdown">Markdown</option>
    <option value="pdf">PDF (Takes a while)</option>
  </select>
  <button class="button-primary" id="fetch">Extract Text</button>
  <p id="status" style="display: none;">
    Generating content please wait...
    If you are creating a PDF this will take a few seconds
  </p>

  <p class="empty-space">&nbsp;</p>
  <p class="empty-space">&nbsp;</p>


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/static/index.js"></script>
</body>

</html>
